/* ==========================================================================
   2. General
   ========================================================================== */
  
   @import url('https://fonts.font.im/css?family=Roboto:400,400i,500,500i,700');

html,
button,
input,
select,
textarea {
  font-family: _font(primary);
}

html {
  border: 18px solid;
  box-sizing: border-box;
  border-image: linear-gradient(hsl(6deg, 100%, 50%) 0%, hsl(29deg, 100%, 50%) 12%, hsl(45deg, 100%, 50%) 20%, hsl(59deg, 100%, 50%) 28%, hsl(80deg, 100%, 64%) 35%, hsl(117deg, 100%, 73%) 41%, hsl(159deg, 100%, 50%) 48%, hsl(183deg, 100%, 47%) 55%, hsl(197deg, 100%, 50%) 62%, hsl(211deg, 100%, 51%) 70%, hsl(266deg, 77%, 66%) 78%, hsl(310deg, 70%, 55%) 88%, hsl(327deg, 100%, 50%) 100% ) 1;

  @media only screen and (max-width: 600px) {
    border-width: 5px;
    font-size: 100%;
  }
}

body {
  color: _palette(primary);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: center;
  background-size: cover;
  line-height: 1.8;
  padding-left: 30px;
  padding-right: 30px;
}

a {
  color: _palette(accent);
  text-decoration: none;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  &:hover {
    color: _palette(secondary);
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: _palette(primary);
  font-family: _font(secondary);
  font-weight: bold;
  line-height: 1.2;
  margin: 2rem 0 1rem;
  text-rendering: optimizeLegibility;
  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: 2rem;
  line-height: 1.11111;
  letter-spacing: -1px;

  @media only screen and (max-width: 600px) {
    font-size: 1.875rem;
    letter-spacing: normal;
    line-height: 1.2;
  }
}

h2 {
  font-size: 1.66667rem;
  letter-spacing: -1px;

  @media only screen and (max-width: 600px) {
    font-size: 1.5rem;
    letter-spacing: normal;
  }
}

h3 {
  font-size: 1.33333rem;

  @media only screen and (max-width: 600px) {
    font-size: 1.25em;
  }
}

h4 {
  font-size: 1.11111rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.88889rem;
}

p {
  margin: 0 0 1.66667em;
  font-size: 0.82rem;
  font-weight: 450
}

address {
  font-style: italic;
  margin: 0 0 1.66667em;
}

mark {
  background: #fff7c5;
  padding: 0 3px;
}

ins {
  background: #fff7c5;
  padding: 0 3px;
  text-decoration: none;
}

pre {
  background: _palette(bg);
  border: 1px solid _palette(border);
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  margin: 0 0 1.875em;
  overflow: auto;
  padding: 10px;
  white-space: pre;
}

:not(pre) > code {
  background: _palette(bg);
  border: 1px solid _palette(border);
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.73rem;
  padding: 1px 3px;
  white-space: pre;
}

blockquote {
  border-left: 3px solid _palette(secondary);
  color: _palette(secondary);
  font-family: _font(secondary);
  margin: 0 0 1.66667em -30px;
  padding: 0 0 0 30px;

  @media only screen and (max-width: 910px) {
    margin-left: 0;
    padding-left: 24px;
  }

  p {
    margin: 0 0 0rem;
  }

  small,
  cite {
    color: _palette(primary);
    display: inline-block;
    font-size: 0.88889em;
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.66667em;
}

ul,
ol {
  margin: 0 0 1.66667em;
  padding: 0 0 0 24px;
  font-size: 0.82rem;
  font-weight: 450
}

li > ul,
li > ol {
  margin-bottom: 0;
  font-size: 0.82rem;
  font-weight: 450
}

hr {
  background: _palette(border);
  border: 0;
  height: 1px;
  margin: 2.5em 0;
}

table {
  border-bottom: 1px solid _palette(border);
  line-height: 1.33333;
  margin: 0 0 1.66667em;
  text-align: left;
  width: 100%;
}

caption {
  font-size: 0.88889em;
  margin-bottom: 0.9375em;
  text-align: left;
}

th,
td {
  border-top: 1px solid _palette(border);
  padding: 8px;
}

th {
   color: _palette(secondary);
   font-weight: bold;
}

table tbody > tr:nth-child(odd) {
  background: _palette(bg);
}

img {
  border-radius: 3px;
  height: auto;
  max-width: 100%;
}

embed,
iframe,
object,
video {
  max-width: 100%;
}

.js-reframe,
.image-card {
  margin: 0 0 1.66667em;
}

.image-card figcaption {
  color: _palette(meta);
  font-size: 0.77778rem;
  padding-top: 0.5em;
  text-align: left;
}

@media only screen and (min-width: 851px) {
  .width-full img,
  .width-wide img {
    margin-left: calc(425px - 50vw);
    margin-right: calc(425px - 50vw);
    max-width: none;
    width: calc(100vw - 90px);
  }
}

@media only screen and (min-width: 971px) {
  .width-wide img {
    margin-left: -60px;
    margin-right: -60px;
    width: 880px;
  }
}

/* Clearing floats */
.inner:after,
.site-header:after,
.site-footer:after {
  clear: both;
}

.inner:before,
.inner:after,
.post-content:before,
.post-content:after {
  content: "";
  display: table;
}

/*markdown mathJax*/
.MathJax span{
  font-size: 0.9rem;
}

/* Text meant only for screen readers */
.screen-reader-text {
  border: 0 none;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

/* Text selection */
::-moz-selection {
  background: #e4edfa;
  color: _palette(secondary);
  text-shadow: none;
}

::selection {
  background: #e4edfa;
  color: _palette(secondary);
  text-shadow: none;
}

/* Buttons */
#menu-open,
#menu-close,
.back-to-top {
	background: 0;
  border: 1px solid _palette(border);
  border-radius: 3px;
  box-sizing: border-box;
	color: _palette(primary);
	padding: 0;
	position: relative;
	height: 36px;
  width: 36px;
  -webkit-transition: border-color .3s, color .3s;
	transition: border-color .3s, color .3s;

  &:hover,
	&:focus,
	&:active {
		border-color: _palette(accent);
    color: _palette(accent);
		outline: 0;
	}
}

/* Custom icons */
.icon-menu {
  background: currentColor;
  color: inherit;
	height: 2px;
	left: 50%;
  margin-left: -11px;
  margin-top: -1px;
  position: absolute;
  top: 50%;
	width: 22px;

	&:before,
	&:after {
		background: currentColor;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		width: 100%;
	}

	&:before {
		top: -5px;
	}

	&:after {
		bottom: -5px;
	}
}

.icon-close {
	background: 0;
	color: inherit;
  height: 2px;
  left: 50%;
  margin-left: -12px;
  margin-top: -1px;
	position: absolute;
	top: 50%;
	width: 24px;

	&:before,
	&:after {
		background: currentColor;
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		width: 100%;
	}

	&:before {
		top: 0;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	&:after {
		top: 0;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
}

::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 10px;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}

::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 10px;
	background-color: rgb(21, 99, 5);
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgb(255, 255, 255);
	border-radius: 10px;
	background: #EDEDED;
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight {
  color: #FFFFFF;
  background-color: #231529;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #6D6E70;
  font-style: italic;
}
.highlight .cp {
  color: #41ff5b;
  font-weight: bold;
}
.highlight .err {
  color: #FFFFFF;
  background-color: #CC0000;
}
.highlight .gr {
  color: #FFFFFF;
  background-color: #CC0000;
}
.highlight .k, .highlight .kd, .highlight .kv {
  color: #FFF02A;
  font-weight: bold;
}
.highlight .o, .highlight .ow {
  color: #41ff5b;
}
.highlight .p, .highlight .pi {
  color: #41ff5b;
}
.highlight .gd {
  color: #CC0000;
}
.highlight .gi {
  color: #3FB34F;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gt {
  color: #FFFFFF;
  background-color: #766DAF;
}
.highlight .gl {
  color: #FFFFFF;
  background-color: #766DAF;
}
.highlight .kc {
  color: #9f93e6;
  font-weight: bold;
}
.highlight .kn {
  color: #FFFFFF;
  font-weight: bold;
}
.highlight .kp {
  color: #FFFFFF;
  font-weight: bold;
}
.highlight .kr {
  color: #FFFFFF;
  font-weight: bold;
}
.highlight .gh {
  color: #FFFFFF;
  font-weight: bold;
}
.highlight .gu {
  color: #FFFFFF;
  font-weight: bold;
}
.highlight .kt {
  color: #FAAF4C;
  font-weight: bold;
}
.highlight .no {
  color: #FAAF4C;
  font-weight: bold;
}
.highlight .nc {
  color: #FAAF4C;
  font-weight: bold;
}
.highlight .nd {
  color: #FAAF4C;
  font-weight: bold;
}
.highlight .nn {
  color: #FAAF4C;
  font-weight: bold;
}
.highlight .bp {
  color: #FAAF4C;
  font-weight: bold;
}
.highlight .ne {
  color: #FAAF4C;
  font-weight: bold;
}
.highlight .nl {
  color: #9f93e6;
  font-weight: bold;
}
.highlight .nt {
  color: #9f93e6;
  font-weight: bold;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #9f93e6;
  font-weight: bold;
}
.highlight .ld {
  color: #9f93e6;
  font-weight: bold;
}
.highlight .ss {
  color: #9f93e6;
  font-weight: bold;
}
.highlight .s, .highlight .sb, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #fff0a6;
  font-weight: bold;
}
.highlight .sa {
  color: #FFF02A;
  font-weight: bold;
}
.highlight .se {
  color: #FAAF4C;
  font-weight: bold;
}
.highlight .sc {
  color: #FAAF4C;
  font-weight: bold;
}
.highlight .si {
  color: #FAAF4C;
  font-weight: bold;
}
.highlight .nb {
  font-weight: bold;
}
.highlight .ni {
  color: #999999;
  font-weight: bold;
}
.highlight .w {
  color: #BBBBBB;
}
.highlight .nf, .highlight .fm {
  color: #41ff5b;
}
.highlight .py {
  color: #41ff5b;
}
.highlight .na {
  color: #41ff5b;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #41ff5b;
  font-weight: bold;
}